<a href="https://colab.research.google.com/github/EngEleHugoNR/Learning./blob/main/MiniCursoOnline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Curso Básico de Python para Machine Learning e Análise de Dados

## Listas em Phython

In [ ]:
#Está entre colchetes []

lista = [4, 3, 7]
print("lista",type(lista))

lista2 = [[1, 2, 3],[4, 5, 6],[7, 8, 9]] #Lista de listas
print("lista2",type(lista2))

print(lista2[1][2]) #Lista[Qual Lista][Qual Elemento]


print("----------------------------------------")
for contagem, x in enumerate(lista):
    print("item {} = {}".format(contagem ,x))

print("----------------------------------------")
for cont, x in enumerate(lista2):
  for cont1, y in enumerate(x):
    print("Lista {} Elemento {} Valor {}".format(cont, cont1 , y))

print("----------------------------------------")
for cont, x in enumerate(lista2):
  for cont1, y in enumerate(x):
    print("Lista", cont, "Elemento", cont1 , "Valor", y)

lista <class 'list'>
lista2 <class 'list'>
6
----------------------------------------
item 0 = 4
item 1 = 3
item 2 = 7
----------------------------------------
Lista 0 Elemento 0 Valor 1
Lista 0 Elemento 1 Valor 2
Lista 0 Elemento 2 Valor 3
Lista 1 Elemento 0 Valor 4
Lista 1 Elemento 1 Valor 5
Lista 1 Elemento 2 Valor 6
Lista 2 Elemento 0 Valor 7
Lista 2 Elemento 1 Valor 8
Lista 2 Elemento 2 Valor 9
----------------------------------------
Lista 0 Elemento 0 Valor 1
Lista 0 Elemento 1 Valor 2
Lista 0 Elemento 2 Valor 3
Lista 1 Elemento 0 Valor 4
Lista 1 Elemento 1 Valor 5
Lista 1 Elemento 2 Valor 6
Lista 2 Elemento 0 Valor 7
Lista 2 Elemento 1 Valor 8
Lista 2 Elemento 2 Valor 9

In [ ]:
import random

Cidades = ['SP', 'RJ', 'BH', 'CBA']
print(type(Cidades))

Escolhida = random.choice(Cidades) #Sorteio randomico
print('A cidade escolhida é',Escolhida)

<class 'list'>
A cidade escolhida é BH

In [ ]:
Lista = [1,2,4]
print(Lista)
Lista.append(15) #Adicionar um elemento no final da lista
print(Lista)

Lista1 = [[1,2,3],[4,5,6]]
print(Lista1)
Lista1.append([7,8,9])
print(Lista1)
del Lista1[1]
print(Lista1)

[1, 2, 4]
[1, 2, 4, 15]
[[1, 2, 3], [4, 5, 6]]
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 2, 3], [7, 8, 9]]

## Transformando Listas de float em int

In [ ]:
num = 0
print(type(num))

float(num)
print(type(num))

int(num)
print(type(num))



Lista = [2,4,10,.6]
Lista1 = []
Lista2 = []

for x in Lista:
  Lista1.append(float(x))
print(Lista1)

for x in Lista1:
  Lista2.append(int(x))
print(Lista2)

<class 'int'>
<class 'int'>
<class 'int'>
[2.0, 4.0, 10.0, 0.6]
[2, 4, 10, 0]

##Tuplas em Python

In [ ]:
## Tupla é uma lista que não pode ser alterada
tupla = (1, 2, 3)

print(type(tupla))
print("------------------------------------")

print(tupla)
print(tupla[0])
print(tupla[1])
print(tupla[2])

print("------------------------------------")
for cont, x in enumerate(tupla):
  print("O elemento",cont,"da tupla é", x)

print("------------------------------------")

Lista = []

Lista = list(tupla)
print(Lista)
print(type(Lista))

<class 'tuple'>
------------------------------------
(1, 2, 3)
1
2
3
------------------------------------
O elemento 0 da tupla é 1
O elemento 1 da tupla é 2
O elemento 2 da tupla é 3
------------------------------------
[1, 2, 3]
<class 'list'>

##Dicionário

In [ ]:
dicionario = {'chave':'nome','chave2':valor}

dicionario1 = {'Hugo':'23 anos'
              'Jean'}
print(type(dicionario))

<class 'dict'>

##String

In [16]:
String = 'frase aleatória'

print(String[2:7])
print('------------------')
print(String[2:])
print('------------------')
print(String[:7])
print('------------------')
print(String[1:7:3])
print('------------------')
print(String.count('a'))
print('------------------')
print(len(String))
print('------------------')
print(String.replace('frase','pamonha')) # Variável.replace('Substituir Esta','Por Esta')

ase a
------------------
ase aleatória
------------------
frase a
------------------
re
------------------
4
------------------
15
------------------
pamonha aleatória

##Definir Funções / Função Anônima

In [17]:
def EntradaDeDados(a,b):
    out = a**2+b**2
    return out

print(EntradaDeDados(3,5))

34

In [18]:
EntradaDeDados = lambda a,b: a**2+b**2
  #NomeDaFunção = lambda Parametros,de,entrada: Parametro**2+de**2+entrada**2
print(EntradaDeDados(3,5))

34

##Map

In [25]:
High  = [40,50,54,64,73,79,85,96,100,120]
Hight = []

for i in High:
  Hight.append(i/1.61) #append = ADD + END = Adicionar um elemento no Final
print(Hight)

High1 = list(map( lambda x:x/1.61,High))
print(High1)

High2 = [x/1.61 for x in High]
print(High2)
print(type(High2))

High3 = [i for i in 'Lista aplicada a função']
print(High3)
print(type(High3))

[24.844720496894407, 31.05590062111801, 33.54037267080745, 39.75155279503105, 45.3416149068323, 49.06832298136646, 52.795031055900616, 59.62732919254658, 62.11180124223602, 74.53416149068323]
[24.844720496894407, 31.05590062111801, 33.54037267080745, 39.75155279503105, 45.3416149068323, 49.06832298136646, 52.795031055900616, 59.62732919254658, 62.11180124223602, 74.53416149068323]
[24.844720496894407, 31.05590062111801, 33.54037267080745, 39.75155279503105, 45.3416149068323, 49.06832298136646, 52.795031055900616, 59.62732919254658, 62.11180124223602, 74.53416149068323]
<class 'list'>
['L', 'i', 's', 't', 'a', ' ', 'a', 'p', 'l', 'i', 'c', 'a', 'd', 'a', ' ', 'a', ' ', 'f', 'u', 'n', 'ç', 'ã', 'o']
<class 'list'>

##Numpy

In [ ]:
import numpy as np
a = np.array([1,2,3]) 
print(type([1,2,3]))
print(type(a))

print('----------------')
print('A diferênça entre uma Lista e o Array é que o Array aceita apenas elementos do mesmo tipo')
print('----------------')